<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-4">
            <h2 class="text-center"><strong>Product Dashboard</strong></h2>
            <app-product-form></app-product-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let pro of prodArr">
            <app-product-card [data]="pro"></app-product-card>
        </div>
    </div>
</div>


<!-- //////////////////////////2/////////////////////////////


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-4">
            <h2 class="text-center"><strong>Product Dashboard</strong></h2>
            <app-product-form></app-product-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let pro of prodArr">
            <app-product-card [data]="pro"></app-product-card>
        </div>
    </div>
</div> -->





<!-- //////////////////////////3/////////////////////////////


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-4">
            <h2 class="text-center"><strong>Product Dashboard</strong></h2>
            <app-product-form></app-product-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let pro of prodArr">
            <app-product-card [data]="pro"></app-product-card>
        </div>
    </div>
</div> -->



<!-- //////////////////////////4/////////////////////////////


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-4">
            <h2 class="text-center"><strong>Product Dashboard</strong></h2>
            <app-product-form></app-product-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let pro of prodArr">
            <app-product-card [data]="pro"></app-product-card>
        </div>
    </div>
</div> -->




<!-- //////////////////////////5/////////////////////////////


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-4">
            <h2 class="text-center"><strong>Product Dashboard</strong></h2>
            <app-product-form></app-product-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let pro of prodArr">
            <app-product-card [data]="pro"></app-product-card>
        </div>
    </div>
</div> -->
