<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-5">
            <h1 class="text-center"><strong>Post Dashboard</strong></h1>
            <app-post-form></app-post-form>
        </div>
        <div class="col-md-4 mb-3" *ngFor="let post of postsArr; trackBy : trackById">
            <app-post-card [data]="post"></app-post-card>
        </div>
    </div>
</div>

<!-- 
////////////////2////////////////////


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-5">
            <h1 class="text-center"><strong>Post Dashboard</strong></h1>
            <app-post-form></app-post-form>
        </div>
        <div class="col-md-4 mb-3" *ngFor="let post of postsArr; trackBy : trackById">
            <app-post-card [data]="post"></app-post-card>
        </div>
    </div>
</div> -->






<!-- 
////////////////3////////////////////


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-5">
            <h1 class="text-center"><strong>Post Dashboard</strong></h1>
            <app-post-form></app-post-form>
        </div>
        <div class="col-md-4 mb-3" *ngFor="let post of postsArr; trackBy : trackById">
            <app-post-card [data]="post"></app-post-card>
        </div>
    </div>
</div> -->





<!-- 
////////////////4////////////////////


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-5">
            <h1 class="text-center"><strong>Post Dashboard</strong></h1>
            <app-post-form></app-post-form>
        </div>
        <div class="col-md-4 mb-3" *ngFor="let post of postsArr; trackBy : trackById">
            <app-post-card [data]="post"></app-post-card>
        </div>
    </div>
</div> -->





<!-- 
////////////////5////////////////////


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-5">
            <h1 class="text-center"><strong>Post Dashboard</strong></h1>
            <app-post-form></app-post-form>
        </div>
        <div class="col-md-4 mb-3" *ngFor="let post of postsArr; trackBy : trackById">
            <app-post-card [data]="post"></app-post-card>
        </div>
    </div>
</div> -->
