<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-5">
            <h1 class="text-center"><strong>Movies Dashboard</strong></h1>
            <app-movie-form></app-movie-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4 d-flex justify-content-center" *ngFor="let movie of moviesArr;">
            <app-movie-card [data]="movie"></app-movie-card>
        </div>
    </div>
</div>
<!-- 


/////////////////////////////2//////////////////////



<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-5">
            <h1 class="text-center"><strong>Movies Dashboard</strong></h1>
            <app-movie-form></app-movie-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4 d-flex justify-content-center" *ngFor="let movie of moviesArr;">
            <app-movie-card [data]="movie"></app-movie-card>
        </div>
    </div>
</div> -->





<!-- 


/////////////////////////////3//////////////////////



<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-5">
            <h1 class="text-center"><strong>Movies Dashboard</strong></h1>
            <app-movie-form></app-movie-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4 d-flex justify-content-center" *ngFor="let movie of moviesArr;">
            <app-movie-card [data]="movie"></app-movie-card>
        </div>
    </div>
</div> -->





<!-- 


/////////////////////////////4//////////////////////



<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-5">
            <h1 class="text-center"><strong>Movies Dashboard</strong></h1>
            <app-movie-form></app-movie-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4 d-flex justify-content-center" *ngFor="let movie of moviesArr;">
            <app-movie-card [data]="movie"></app-movie-card>
        </div>
    </div>
</div> -->




<!-- 


/////////////////////////////5//////////////////////



<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-2 mb-5">
            <h1 class="text-center"><strong>Movies Dashboard</strong></h1>
            <app-movie-form></app-movie-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4 d-flex justify-content-center" *ngFor="let movie of moviesArr;">
            <app-movie-card [data]="movie"></app-movie-card>
        </div>
    </div>
</div> -->